[submodule "UploadcareKit/Vendors/AFNetworking"]
	path = UploadcareKit/Vendors/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "UploadcareKit/Vendors/JSONKit"]
	path = UploadcareKit/Vendors/JSONKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "UploadcareWidget/vendors/GrabKit"]
	path = UploadcareWidget/vendors/GrabKit
url=git@github.com:zrxq/grabKit.git
[submodule "UploadcareWidget/vendors/JSNotifier"]
	path = UploadcareWidget/vendors/JSNotifier
	url = https://github.com/jonahsiegle/JSNotifier.git
