// Specific .xcodeproj settings for RELEASE configurations

#include "Uploadcare.shared.xcconfig"

COPY_PHASE_STRIP = YES;
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym;
GCC_OPTIMIZATION_LEVEL = s;
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) NS_BLOCK_ASSERTIONS;
ONLY_ACTIVE_ARCH = NO;
STRIP_STYLE = non-global;
SWIFT_OPTIMIZATION_LEVEL = -O;
VALIDATE_PRODUCT = YES;
ENABLE_NS_ASSERTIONS = NO;
