// Specific .xcodeproj settings for DEBUG configurations

#include "Uploadcare.shared.xcconfig"

DEBUG_INFORMATION_FORMAT = dwarf
GCC_OPTIMIZATION_LEVEL = 0
ONLY_ACTIVE_ARCH = YES
STRIP_SWIFT_SYMBOLS = NO
SWIFT_OPTIMIZATION_LEVEL = -Onone
VALIDATE_PRODUCT = NO;
ENABLE_TESTABILITY = YES;
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited);

SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG;
